<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/global.css"/>
        <link rel="stylesheet" href="css/index.css"/>
        <script src="/js/global.js" defer></script>
        <script src="/js/index.js" defer></script>
        <title>Welcome to Oregon trail</title>
    </head>
    <body>
        <h1>Oregon trail</h1>

        <a id='press'>Press the spacebar to continue</a>
    </body>
</html>